---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

interface Props {
    entry: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((entry) => ({
        params: {
            slug: entry.slug,
        },
        props: {
            entry,
        },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <article class="post">
        <h1>{entry.data.title}</h1>
        <div class="contents">
            <Content class="contents" />
        </div>
    </article>
</Layout>

<style is:global lang="scss">
    .contents {
        line-height: 1.6;
    }

    a {
        color: pink;
    }
</style>
