---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ListEntry from "../../components/Blog/ListEntry.astro";
import { getUniqueTags } from "../../lib/posts";

interface Props {
    posts: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
    const posts = await getCollection("posts");

    const uniqueTags = getUniqueTags(posts);

    return uniqueTags.map((tag) => {
        const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));

        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const title = `Posts with tag: ${tag}`;
---

<Layout title={title}>
    <a class="post-back" href="/posts">{"<-"} see all posts</a>
    <h2>{title}</h2>

    {posts.map((post) => <ListEntry data={post} />)}
</Layout>

<style lang="scss">
    h2 {
        margin-top: 0.5rem;
    }

    .post-back {
        text-decoration: none;
        color: var(--cs-accent);
    }
</style>
