---
import Layout from "../layouts/Layout.astro";
import MiscLink from "../components/Misc/MiscLink.astro";
---

<Layout title="Mayu">
    <h2>Miscellaneous stuff</h2>
    <p>empty for now</p>
</Layout>

<style></style>
