---
interface Props {
    title: string;
    href: string;
}

const { title, href } = Astro.props;
---

<a class="link" href={href}>
    <span class="icon">
        <slot />
    </span>
    <span class="title">
        {title}
    </span>
</a>

<style lang="scss">
    .link {
        color: inherit;
        text-decoration: none;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .link:hover {
        text-decoration: underline;
        transition: color 0.2s ease 0s;
        color: var(--cs-primary);
    }

    .link:not(:first-child) {
        margin-left: 2.5rem;
    }

    .icon {
        display: inline-block;
        width: 22px;
    }
</style>
