---
import Header from "../components/Header/Header.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import "@fontsource/iosevka/400.css";
import "@fontsource/iosevka/600.css";
import "@fontsource/iosevka/700.css";

export interface Props {
	title: string;
	description?: string;
}

const { title, description = "I'm Mayu, a hobbyist web developer." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="title" content={title} />
		<meta name="author" content="Mayu" />

		<meta name="description" content={description} />
		<meta name="theme-color" content="#f5c2e7" />

		<meta property="og:image" content="/apfp.png" />
		<meta property="og:image:width" content="90" />
		<meta property="og:image:height" content="90" />

		<meta property="og:site_name" content="Mayu's website" />
		<meta property="og:type" content="website" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<Header />
			<div class="content">
				<slot />
			</div>
			<ThemeSwitcher />
			<footer>
				mayu 2023; <a
					href="https://github.com/mayudev/cafesite"
					target="_blank"
					rel="noreferrer">source code</a
				>
			</footer>
		</div>
	</body>
</html>

<script>
	const theme = localStorage.getItem("theme");
	if (theme) {
		document.documentElement.setAttribute("data-theme", theme);
	}
</script>

<style lang="scss" is:global>
	@mixin dark-theme {
		--cs-background: linear-gradient(135deg, #1c1c2d, #a15478);
		--cs-content-background: #1d1b1d;
		--cs-foreground: #d9e0ee;

		--cs-accent: pink;
		--cs-primary: #f5c2e7;
		--cs-secondary: #86e0fb;
	}

	@mixin light-theme {
		--cs-background: linear-gradient(135deg, #e8e8ec, #f7c2da);
		--cs-content-background: #fff;
		--cs-foreground: black;

		--cs-accent: #a15094;
		--cs-primary: #b782b5;
		--cs-secondary: #4e8494;
	}

	// System -> dark theme
	@media (prefers-color-scheme: dark) {
		:root {
			@include dark-theme;
		}
	}

	// System -> light theme
	@media (prefers-color-scheme: light) {
		:root {
			@include light-theme;
		}
	}

	// Overridden -> light theme
	:root[data-theme="light"] {
		@include light-theme;
	}

	// Overridden -> dark theme
	:root[data-theme="dark"] {
		@include dark-theme;
	}

	:root {
		color: var(--cs-foreground);
	}

	html {
		background: var(--cs-background) fixed;
		font-family: "Iosevka", monospace;
        line-height: 1.6;
	}

	.container {
		width: min(48rem, 95vw);
		margin: 20vh auto 1rem auto;
	}

	.content {
		padding: 16px;
		background: var(--cs-content-background);
		box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.4);
		border-radius: 3px;
	}

	footer {
		text-align: center;
		margin: 1rem;
	}

	* {
		box-sizing: border-box;
	}

	a {
		color: var(--cs-accent);
	}

	h2 {
		margin-top: 0.5rem;
	}

	.emphasis {
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
		font-weight: 600;
	}
</style>
