---
import Header from "../components/Header/Header.astro";

export interface Props {
	title: string;
	description?: string;
}

const { title, description = "I'm Mayu, a hobbyist web developer." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="title" content={title} />
		<meta name="author" content="Mayu" />

		<meta name="description" content={description} />
		<meta name="theme-color" content="#f5c2e7" />

		<meta property="og:image" content="/apfp.png" />
		<meta property="og:image:width" content="90" />
		<meta property="og:image:height" content="90" />

		<meta property="og:site_name" content="Mayu's website" />
		<meta property="og:type" content="website" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<Header />
			<div class="content">
				<slot />
			</div>
		</div>
	</body>
</html>
<style is:global>
	@media (prefers-color-scheme: dark) {
		:root {
			--cs-background: linear-gradient(135deg, #1c1c2d, #a15478);
			--cs-accent: #cea7a7;
			--cs-primary: #f5c2e7;
			--cs-secondary: #86e0fb;
			--cs-foreground: #d9e0ee;
		}
	}

	@media (prefers-color-scheme: light) {
		:root {
			--cs-background: white;
			--cs-accent: #cea7a7;
			--cs-primary: #f5c2e7;
			--cs-secondary: #86e0fb;
			--cs-foreground: black;
		}
	}

	:root {
		color: var(--cs-foreground);
	}

	html {
		background: var(--cs-background) fixed;
		font-family: "Iosevka", monospace;
	}

	.container {
		width: min(48rem, 95vw);
		margin: 20vh auto 1rem auto;
	}

	.content {
		padding: 16px;
		background: rgb(29, 27, 29);
		border-radius: 3px;
	}

	* {
		box-sizing: border-box;
	}
</style>
